.metadata/
.cache/
results

.DS_Store
.gama_application_workspace
.built_in_models_*
.gama.epf


prediction/raw_data/*
prediction/processed_data/*

**/venv
**/__pycache__
**/map.html
/prediction/cache
